.error-container {
  opacity: 90%;
  margin-right: -48px;
  background: hsla(0, 0%, 100%, 0.12);
  padding: 3rem;

  width: 1270px;
  border-radius: 20px 20px 0 0;

  & + .error-container {
    border-radius: 0 0 20px 20px;
  }

  /* ---- RESPONSIVE ---- */

  @media (max-width: 1430px) {
    max-width: 800px;
    height: 500px;
  }

  @media (max-width: 940px) {
    max-width: 600px;
  }
  @media (max-width: 740px) {
    max-width: 440px;
    height: auto;
  }

  @media (max-width: 600px) {
    padding: 2.5rem;

    max-width: 400px;
  }

  @media (max-width: 478px) {
    padding: 1.5rem;

    max-width: 300px;
  }

  p {
    display: flex;
    align-items: center;

    /* ---- RESPONSIVE ---- */
    @media (min-width: 1800px) {
      font-size: calc(1rem * var(--huge-multiplier));
    }
    button {
      margin-top: 0.13rem;
    }
  }

  h2 {
    margin-bottom: 0.5rem;

    @media (max-width: 940px) {
      font-size: 1.8rem;
    }

    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--borders);
    margin-bottom: 1rem;
  }

  .error-content {
    .columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: 740px) {
        display: flex;
        flex-direction: column;
      }

      @media (max-width: 600px) {
        width: 220px;
      }

      h3 {
        margin-bottom: 0.5rem;
      }

      .quantity {
        margin-bottom: 4rem;

        @media (max-width: 940px) {
          width: 276px;
        }

        .error-length {
          display: flex;
          flex-direction: column;
          p {
            display: flex;
            align-items: center;
          }
        }

        .css-wx2bjt-MuiPaper-root-MuiAccordion-root:before {
          height: 0px;
          width: 0px;
        }

        .css-6n3dyr-MuiPaper-root-MuiAccordion-root:before {
          height: 0;
        }

        .MuiButtonBase-root {
          max-width: 85px;
        }

        .MuiPaper-root {
          & + .MuiPaper-root {
            margin-top: -0.9rem;
          }
        }

        .css-ahj2mt-MuiTypography-root {
          width: 1200px;
          position: absolute;
          margin-top: 4rem;

          @media (max-width: 1430px) {
            max-width: 700px;
          }
          @media (max-width: 1430px) {
            display: flex;
            flex-direction: column;

            margin-left: -9.5rem;
          }

          @media (max-width: 740px) {
            position: unset;
            margin-top: 0rem;
            font-size: 0.7rem;
            margin-left: -12.4rem;
          }

          @media (max-width: 478px) {
            font-size: 0.6rem;
            margin-left: -13.4rem;
          }
        }

        .accordion-content {
          margin-right: 4rem;

          span {
            margin-left: 0.7rem;
          }
        }
      }

      .error-name {
        @media (max-width: 600px) {
          width: 228px;
        }

        p {
          button {
            color: #f0b40c;

            font-size: 1.35rem;
            margin-left: 0.5rem;

            /* ---- RESPONSIVE ---- */
            @media (min-width: 1800px) {
              font-size: calc(1.35rem * var(--huge-multiplier));
            }

            .container {
              display: flex;
              flex-direction: column;
              margin: 0 auto;

              max-width: 1270px;
            }
          }
        }
      }
    }
  }
}
